footer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: var(--darksteel);
  font-size: 0.9rem;
}

footer > p {
  margin-block: 5px;
}

footer > p > a {
  color: var(--venom);
  transition: color 0.3s ease-in-out;
  font-family: var(--font-family-secondary);
}
