.haiku-post {
  width: 100%;
  text-align: center;
  padding: 0;
  & > img {
    filter: sepia(1) hue-rotate(60deg) saturate(5);
    image-rendering: pixelated;
    height: 90px;
    width: 90px;
    object-fit: contain;
    padding: 10px;
  }
}

.haiku-header {
  margin: 1rem 0;
  padding-bottom: 2vh;
}

.haiku-title {
  font-family: var(--font-family-post-title);
  font-weight: 100 !important;
  font-size: 4rem;
  font-size: clamp(2rem, 10vw, 4rem);
  line-height: 1;
  letter-spacing: 0.2rem;
  margin: 0 0 0.25em;
}

.haiku-body {
  text-align: left;
  font-family: var(--font-family-post-body);
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 1px;

  & p,
  & ul,
  & ol {
    transform-origin: left;
  }

  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    font-family: var(--font-family-title);
    font-weight: 100 !important;
    margin-bottom: 0;
  }
}

@media (max-width: 500px) {
  .haiku-body {
  }
}

.haiku {
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 2em;
  writing-mode: vertical-rl;
  text-orientation: upright;
  padding: 0;
  & :lang(en) {
    color: var(--darksteel);
    writing-mode: lr;
    text-orientation: unset;
    font-style: italic;
    font-size: 1rem;
    text-align: center;
    margin-block: 3rem;
    text-wrap: nowrap;
  }
}
