button {
  padding: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
  outline: none;
  width: 40px;
  height: 40px;
  float: left;
}

#music-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: auto;
}

#music-player {
  --seek-before-width: 0%;
  --volume-before-width: 100%;
  --buffered-width: 0%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  margin: auto;
  width: 95%;
  max-width: 25%;
  & > * {
    mix-blend-mode: difference;
  }
}

@media (min-width: 1000px) {
  #music-player > h1 {
    width: 150% !important;
    font-size: 250% !important;
  }
}

@media (max-width: 1000px) {
  #music-player {
    max-width: 45%;
  }
  #music-player > picture > img {
    max-height: 20vh;
  }
}

@media (max-width: 500px) {
  #music-player > h1 {
    width: 130% !important;
    font-size: 150% !important;
  }
  #music-player {
    max-width: 70%;
  }
  #music-player > picture > img {
    max-height: 20vh;
  }
}

#music-cover {
  margin: 20px;
}

#music-player > h1 {
  font-family: var(--font-family-title);
  width: 130%;
  text-align: center;
  color: var(--venom);
  font-size: 180%;
}

#music-player-playback,
#music-player-levels {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

path {
  stroke: var(--venom);
}

.time {
  display: inline-block;
  width: 37px;
  text-align: center;
  font-size: 20px;
  margin: auto;
  color: var(--venom);
}

output {
  display: inline-block;
  width: 32px;
  text-align: center;
  font-size: 20px;
  clear: left;
  color: var(--venom);
}

input[type="range"] {
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  width: 48%;
  margin: 0;
  padding: 0;
  height: 19px;
  margin: auto;
  float: left;
  outline: none;
  background-color: transparent;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: linear-gradient(
    to right,
    var(--venom) var(--buffered-width),
    var(--darksteel) var(--buffered-width)
  );
}

input[type="range"]::before {
  position: absolute;
  content: "";
  top: 8px;
  left: 0;
  width: var(--seek-before-width);
  height: 3px;
  background-color: var(--venom);
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
  position: relative;
  -webkit-appearance: none;
  box-sizing: content-box;
  border: 1px dotted var(--venom);
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: var(--darkgray);
  cursor: pointer;
  margin: -7px 0 0 0;
}

input[type="range"]:active::-webkit-slider-thumb {
  transform: scale(1.2);
  background: var(--venom);
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: linear-gradient(
    to right,
    var(--venom) var(--buffered-width),
    var(--darksteel) var(--buffered-width)
  );
}

input[type="range"]::-moz-range-progress {
  background-color: var(--venom);
}

input[type="range"]::-moz-focus-outer {
  border: 0;
}

input[type="range"]::-moz-range-thumb {
  box-sizing: content-box;
  border: 1px solid var(--venom);
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: var(--darkgray);
  cursor: pointer;
}

input[type="range"]:active::-moz-range-thumb {
  transform: scale(1.2);
  background: var(--venom);
}

input[type="range"]::-ms-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: transparent;
  border: solid transparent;
  color: transparent;
}

input[type="range"]::-ms-fill-lower {
  background-color: var(--venom);
}

input[type="range"]::-ms-fill-upper {
  background: linear-gradient(
    to right,
    var(--venom) var(--buffered-width),
    var(--darksteel) var(--buffered-width)
  );
}

input[type="range"]::-ms-thumb {
  box-sizing: content-box;
  border: 1px solid var(--venom);
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: var(--darkgray);
  cursor: pointer;
}

input[type="range"]:active::-ms-thumb {
  transform: scale(1.2);
  background: var(--venom);
}
