.post {
  text-align: center;
}

.post-title {
  padding: 3vh 0 0 0;
  font-size: 4em;
  font-weight: 100;
  font-family: var(--font-family-title);
  text-align: center;
  margin: 0;
  color: var(--venom);
}

.post-tags {
  display: inline;
}

.post-body {
  text-align: left;
  font-family: var(--font-family-post-body);
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6;
  padding: 0 20vw;
  letter-spacing: 1px;

  & p,
  & ul,
  & ol {
    transform-origin: left;
  }

  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    font-family: var(--font-family-title);
    font-weight: 100 !important;
    margin-bottom: 0;
  }
}

@media (max-width: 1200px) {
  .post-body {
    padding: 0 1%;
  }
}

.post-navigation {
  & ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  & li {
    padding: 1em;
  }
}
.post-navigation {
  color: var(--darksteel) !important;
}
.post-navigation a {
  color: var(--darksteel) !important;
}
.post-navigation a:hover {
  color: var(--venom) !important;
}
