.body-sitemap * {
  letter-spacing: 3px;
}

.body-sitemap li {
  width: fit-content;
  margin: 15px 0;
}

.body-sitemap ul li::before {
  align-items: flex-start;
  content: "⎗";
  color: var(--venom);
  font-weight: bold;
  width: 1em;
  margin-left: -1em;
}

.body-sitemap a:hover {
  font-weight: 900 !important;
}

.body-sitemap a {
  padding: 5px;
}

.body-sitemap ul,
.body-sitemap li {
  list-style: none;
}

.body-sitemap ul {
  width: fit-content;
  margin: 0 auto;
}
