---
layout: layouts/base.vto
visible: false
project: true
order: 3
type: project
date: 2023-12-01
title: Swims
---

<h1>{{ title |> toUpperCase }}</h1>

<p>This is the project page for Phantom Pizza. It's a game about a pizza with a phantomy face.</p>

<form action="/phantomPizza">
  <input class="menu-item button loud lt" type="submit" value="PLAY" />
</form>
