---
layout: layouts/post.njk
url: /404.html
title: "404"
---

<script type="module" src="/@/404message.mjs"></script>

<p style="text-align: center; width: 90vw" id="404message">You should not be here.</p>
