---
layout: layouts/base.njk
---

<h1 class="page-title">CONFIG</h1>

<style>

.config-section {
  margin: 2rem 0 0 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  & > h2 {
    margin: 0;
  }
}

.config-buttons {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, 1fr));
  gap: 1.5rem;
}
</style>


<script type="module" src="/@/setItemInLocalStorage.mjs"></script>

<div class="config-section">
  <h2>THEMES</h2>
  <div class="config-buttons">
    <button onclick="localStorage.setItem('colors', 'fire');">FIRE</button>
    <button onclick="localStorage.setItem('colors', 'venom');">VENOM</button>
    <button onclick="localStorage.setItem('colors', 'zero');">ZERO</button>
    <button onclick="localStorage.setItem('colors', 'void');">VOID</button>
    <button onclick="localStorage.setItem('colors', 'moon');">MOON</button>
    <button onclick="localStorage.setItem('colors', 'phantom');">PHANTOM</button>
  </div>
</div>

<div class="config-section">
  <h2>TYPOGRAPHY</h2>
  <div class="config-buttons">
    <button onclick="localStorage.setItem('typography', 'nilheim');">NILHEIM</button>
    <button onclick="localStorage.setItem('typography', 'doomed');">DOOMED</button>
    <button onclick="localStorage.setItem('typography', 'virgil');">VIRGIL</button>
    <button onclick="localStorage.setItem('typography', 'dexter');">DEXTER</button>
    <button onclick="localStorage.setItem('typography', 'sinister');">SINISTER</button>
    <button onclick="localStorage.setItem('typography', 'sidious');">SIDIOUS</button>
  </div>
</div>

