---
layout: layouts/home.njk
visible: false
title: HOME 
order: 0
---

<script defer type="module" src="/@/phantomPizza.mjs"></script>
<script>
addEventListener("DOMContentLoaded", () => {
  if (!/iPhone|iPad|iPod|Android/i.test(navigator.userAgent)) 
    document.getElementById('pie-till-i-die').style.display = "none";
});
</script>

<figure 
  id="pie-till-i-die"
  style="
    mix-blend-mode: color-dodge;
    width: max-content;
    position: absolute;
    filter: sepia(1) hue-rotate(70deg) saturate(13);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-block: 4rem;
  "
>
  <picture class="no-border">
    <img
      id="pizza" 
      width="250"
      src="@/pizza.gif"
    />
  <strong 
    style="
      font-size: 2rem;
      transform: rotate(-26deg) translate(-11px, -50px);
    "
  >
    "Pie till I die"
  </strong>
  </picture>
</figure>



