---
layout: layouts/home.njk
visible: false
order: 1
gif: /@/storm.gif
title: 雷の裏
info: |
  <strong>雷の裏</strong> (<i>Kaminari No Ura</i>, "Behind the lightning") is my series of <a href="https://en.wikipedia.org/wiki/Haiku">haiku</a> and <a href="https://en.wikipedia.org/wiki/Senryu">senryu</a>. 
  <br><br>
  These are very short stories where I want to summon flawed moments lived in nature, human life, or in the funny shadows of goblins and aliens.
  <br><br>
  Leap like the frog... I hope you have fun!

tags:
  - projects
---

<h1 class="page-title">雷の裏</h1>

{% set things = search.pages("haiku", "date=desc", 99) %}

{% include "templates/things.njk" %}
{% include "templates/page-info.njk" %}


