---
layout: layouts/home.njk
visible: false
order: 1
gif: /@/storm.gif
title: 雷の裏
info: |
  <strong>雷の裏</strong> (<i>Kaminari No Ura,"Behind the lightning"</i>) is my series of <a href="https://en.wikipedia.org/wiki/Haiku">haiku</a> and <a href="https://en.wikipedia.org/wiki/Senryu">senryu</a>. 
  <br><br>
  These are very short triads where I try to summon flawed, non repeatable moments lived in nature. Walking by rice fields in a moonlit night, watching dark clouds slither like snakes, hearing a goblin's laughter after thunder...
  <br><br>
  I want these moments to remain in my memory. I hope you enjoy them too.
tags:
  - projects
---

<h1 class="page-title">雷の裏</h1>

{% set things = search.pages("haiku", "date=desc", 99) %}

{% include "templates/things.njk" %}
{% include "templates/page-info.njk" %}


