---
layout: layouts/home.njk
visible: false
order: 1
gif: /@/storm.gif
title: 雷の裏
tags:
  - projects
---

<h1 class="page-title">雷の裏</h1>

{% set things = search.pages("haiku", "date=desc", 99) %}

{% include "templates/things.njk" %}



