---
layout: layouts/base.vto
date: 2024-10-01
visible: false
title: MUSIC
gif: /assets/images/dancing-skeletons.gif
order: 1
bullet: 𝄫
info: |
tags: 
  - projects
---

<h1 class="page-title">MUSIC</h1>

{{ include "templates/things.vto" { query: "music" } }}

