---
layout: layouts/home.njk
visible: false
order: 3
date: 2023
gif: /@/phantom-pizza-game.gif
title: PHANTOM PIZZA
info: |
  <i><strong>Phantom Pizza</strong></i>  
tags:
  - projects
---

{% include "templates/page-info.njk" %}
<script defer type="module" src="/@/phantomPizza.mjs"></script>

<script>
addEventListener("load", () => {
   document.querySelector('#start-screen-title').innerText = 'PHANTOM PIZZA';
   document.querySelector('#start-screen-text').style.display = 'none';
   document.querySelector('.navbar-links').style.display = 'none';
   document.querySelector('.mobile-message').style.display = 'none';
});
</script>

<span class="mobile-message" style="text-align: center">
<h2><em>"PHANTOM PIZZA"</em> <br>is not a mobile game.</h2>
<h3>You can do other things instead.</h3>
<h3>1. Take out the trash.</h3>
<h3>2. Drink a glass of wine.</h3>
<h3>3. Call your mom.</h3>
<br>
<h3>You should probably call your mom.</h3>
</span>



