---
layout: layouts/home.njk
visible: false
order: 3
date: 2023
gif: /@/phantom-pizza-game.gif
title: PHANTOM PIZZA
info: |
  <i>Phantom Pizza</i> was made using a programming style for game mechanics that proved so useful, few months ago I extracted into an independent engine called <em><a href="/@/phantom.mjs">Phantom</a></em>. 
  <br>
  <br>
  The gameplay is so addictive that every time I work on it, I end up spending more time playing than programming. I don't remember how I came up with it!
  <br>
  <br>
  The music is based on a bassline that reminds me of the old Batman TV shows. <em>Nanananana...</em>
tags:
  - projects
---

<script defer type="module" src="/@/phantomPizza.mjs"></script>
{% include "templates/page-info.njk" %}

<script>
addEventListener("load", () => {
   document.querySelector('#start-screen-title').innerText = 'PHANTOM PIZZA';
   document.querySelector('#start-screen-text').style.display = 'none';
   document.querySelector('.navbar-links').style.display = 'none';
});
</script>

<link rel="stylesheet" href="/css/post.css">

