---
layout: layouts/base.njk
visible: false
order: 3
date: 2023
gif: /@/phantom-pizza-game.gif
title: PHANTOM PIZZA
info: |
  <em>"Phantom Pizza"</em> is a game about evading evil, ghostly pizzas.
  <br>
  <br>
  The gameplay is so addictive that every time I work on it, I end up spending more time playing than programming. I don't remember how I came up with it!
  <br>
  <br>
  The music is based on a bassline that reminds me of the old Batman TV shows. <em>Nanananana...</em> <em>PIZZA!</em>
tags:
  - projects
---


<script defer type="module" src="/@/phantomPizza.mjs"></script>
<script defer type="module" src="/@/hideNavbar.mjs"></script>
<script defer type="module" src="/@/changeStartScreenText.mjs"></script>


<link rel="stylesheet" href="/css/post.css">

