---
layout: layouts/base.vto
visible: false
order: 3
date: 2023-12-01
gif: /assets/images/phantom-pizza-game.gif
title: PHANTOM PIZZA
bullet: ⧏
info: You are a skull escaping a ghostly pizza attack! Eat the the Nike logo because... just do it!
tags:
  - projects
---

<script inline src="/_esnext/phantompizza.js"></script>
<script inline src="/_esnext/changestartscreentext.js"></script>



