---
layout: layouts/base.vto
visible: true
title: PROJECTS
info: | 
  This where I share my hobby projects. There's music, haiku, computer games and more.    <br>
  I hope you find them <em>"fun"</em>.     
  <h4 style="display: inline-block;"><a href="/about">V</a></h4>
order: 1
---

<h1 class="page-title">PROJECTS</h1>

{{ include "templates/things.vto" { query: "projects" } }}



