---
layout: layouts/base.njk
visible: true
title: PROJECTS
info: This where I keep projects. There's music, haiku, computer programs and more.   
order: 1
---

<h1 class="page-title">PROJECTS</h1>

{% set things = search.pages("projects", "date=desc", 99) %}

{% include "templates/things.njk" %}




