---
layout: layouts/base.vto
visible: true
title: PROJECTS
info: This where I keep projects. There's music, haiku, computer programs and more.   
order: 1
---

<h1 class="page-title">PROJECTS</h1>

{{ include "templates/things.vto" { query: "projects" } }}



