---
layout: layouts/base.njk
visible: true
title: PROJECTS
info: This where I keep finished and ongoing projects. There's music, stories, computer programs and more. Have fun! 
order: 1
---

<h1 class="page-title">PROJECTS</h1>

{% set things = search.pages("projects", "date=desc", 99) %}

{% include "templates/things.njk" %}




