---
layout: layouts/base.vto
visible: true
title: PROJECTS
info: An idle brain is the devil's fruit shop! Or something like that.
order: 1
---

<h1 class="page-title">PROJECTS</h1>

{{ include "templates/things.vto" { query: "projects" } }}



