---
layout: layouts/base.njk
bodyClass: body-sitemap
visible: true
title: SITEMAP
order: 1
---

<h1 class="page-title">SITEMAP</h1>
<link preload rel="stylesheet" href="css/sitemap.css">


{% set projects = search.pages("projects") %}

<ul>
<li style="list-style-type: '⛾'" ><a href="/">Home</a></li>
<li style="list-style-type: '∿'" ><a href="/weblog">Weblog</a></li>
<li style="list-style-type: '✐'" ><a href="/projects">Projects</a>
  <ul>
    {% for project in projects %}
      <li style="list-style-type: '{{ project.data.bullet }}'">
        <a href="{{ project.data.url }}">
          {{ project.data.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
</li>
<li style="list-style-type: '⟜'" ><a href="/sitemap">Sitemap</a></li>
<li style="list-style-type: '⌗'" ><a href="/meta">Meta</a></li>
<li style="list-style-type: '⚐'"><a href="/about">About</a></li>
<li style="list-style-type: '⛭'"><a href="/config">Config</a></li>
</ul>
