---
layout: layouts/base.vto
visible: false
title: SWIMS
date: 2022
gif: /assets/images/dancing-skeletons.gif
order: 1
bullet: 𝄫
info: |
  When I was in university I used to watch <a href="https://youtu.be/NXl99f9r9eo?t=1969"><em>Adult Swim</em></a>, a late night series that broadcast weird animated shows for adults. They were short and strange, and it felt like taking a splash into a darker world. 
  <br><br>
  Sometimes I'll sit by the computer and record a wicked bit of music, kinda like one of those swims. 
  <br><br>
  Enjoy a little <em>swim</em>!
  <h4 style="display: inline-block;"><a href="/about">V</a></h4>
tags: 
  - projects
---

<h1 class="page-title">SWIMS</h1>

{{ include "templates/things.vto" { query: "swims" } }}

