---
layout: layouts/home.njk
visible: false
title: SWIMS
gif: /@/dancing-skeletons.gif
order: 1
tags: 
  - projects
---

<h1 class="page-title">SWIMS</h1>

{% set things = search.pages("swims", "date=desc", 99) %}

{% include "templates/things.njk" %}




