---
layout: layouts/home.njk
menu:
  visible: false
  title: SWIMS
  order: 1
---

<h1 class="page-title">SWIMS</h1>

{% set things = search.pages("swims", "date=desc", 99) %}

{% include "templates/things.njk" %}




