---
layout: layouts/base.vto
date: 2024-10-01
visible: false
title: SWIMS
gif: /assets/images/dancing-skeletons.gif
order: 1
bullet: 𝄫
info: |
  Music shouldn't always have to make a big splash.
tags: 
  - projects
---

<h1 class="page-title">SWIMS</h1>

{{ include "templates/things.vto" { query: "swims" } }}

