---
layout: layouts/base.vto
visible: false
title: SWIMS
date: 2022
gif: /assets/images/dancing-skeletons.gif
order: 1
bullet: 𝄫
info: |
  When I was in university I used to watch <a href="https://youtu.be/NXl99f9r9eo?t=1969"><em>Adult Swim</em></a>, a late night series that broadcast weird animated shows for adults. I guess the idea was to "take a swim into a wicked world". 
  <br><br>
  Occasionally I'll sit by the computer and make a wacky bit of doomy instrumental music, a little like one of those swims. That's the idea behind this series. 
  <br><br>
  Enjoy a little <em>swim</em>!
tags: 
  - projects
---

<h1 class="page-title">SWIMS</h1>

{{ include "templates/things.vto" { query: "swims" } }}

