---
layout: layouts/base.vto
---

<h1>Tags</h1>

{{ set pages = search.pages("type=tag", "tag") }}

<div class="page-tags">
{{ for page of pages }}

  {{ set size = search.pages(page.tag).length }}

  <a style="font-size: calc(16px + {{Math.min(size, 35)}}px)" href="{{ url }}{{ page.tag }}" class="page-tag">
    {{ page.tag |> toUpperCase }}
  </a>

{{ /for }}
</div>
