---
layout: layouts/home.njk
visible: true
title: WEBLOG
order: 0
---

<link preload rel="stylesheet" href="/css/post-list.css">

<h1 class="page-title">WEBLOG</h1>

<section class="weblog-content">
  {% set postslist = search.pages("pinned=true") %}
    {%if postslist.length %}
      {% include "templates/postslist.njk" %}
    {% endif %}
  {% set postslist = search.pages("type=posts", "date=desc", 99) %}
    {% include "templates/postslist.njk" %}
</section>
