---
layout: layouts/home.njk
menu:
  visible: true
  title: WEBLOG
  order: 0
---

<h1 class="weblog-header">WEBLOG</h1>

<section class="weblog-content">
  {% set postslist = search.pages("pinned=true") %}
    {%if postslist.length %}
      {% include "templates/postslist.njk" %}
    {% endif %}
  {% set postslist = search.pages("type=posts", "date=desc", 4) %}
    {% include "templates/postslist.njk" %}
  <p>See all posts <a href="/weblog/archive">at the archive.</a></p>
</section>
