@font-face {
  font-family: DotGothic16;
  src: url(/assets/fonts/DotGothic16.ttf);
  font-display: swap;
}

@font-face {
  font-family: OffBitDot;
  src: url(/assets/fonts/OffBitTrial-Dot.ttf);
  font-display: swap;
}

@font-face {
  font-family: OffBitDotBold;
  src: url(/assets/fonts/OffBitTrial-DotBold.ttf);
  font-display: swap;
}

:root {
  /* Colors */
  --lightgray: whitesmoke;
  --darkgray: #0d1117 !important;
  --venom: whitesmoke;
  --venom-filter: grayscale(1) saturate(5);
  --venom-filter-canvas: grayscale(1) brightness(01);
  --darksteel: #333;

  /* Typography */
  --font-family: OffBitDot, DotGothic16, monospace;
  --font-family-secondary: OffBitDotBold, DotGothic16, monospace;
  --font-family-tertiary: DotGothic16, monospace;
  --font-family-title: DotGothic16, monospace;

  /* Mix-blend-mode */
  --blend-mode: difference;
  --filter-invert: invert(0);

  /* Specials */
  --indicator: var(--venom);
}
