@font-face {
  font-family: Sinister;
  src: url(/assets/fonts/sinister.ttf);
  font-display: swap;
}

.typography-sinister {
  --font-family: DotGothic16, monospace !important;
  --font-family-secondary: OffBitDot, DotGothic16, monospace !important;
  --font-family-tertiary: OffBitDotBold, DotGothic16, monospace !important;
  --font-family-title: Sinister, DotGothic16, monospace !important;
}
