:root {
  --lightgray: #e6e6e6 !important;
  --invert_darkgray: #f2eee8 !important;
  --invert_venom: #ff007b !important;
  --darkgray: #0d1117 !important;
  --venom: #ff1700ff !important;
  --venom-filter: sepia(1) hue-rotate(-45deg) saturate(4) !important;
  --venom-filter-canvas: sepia(1) hue-rotate(-45deg) saturate(19) brightness(01) !important;
  --darksteel: #343 !important;
  --blend-mode: difference !important;
  --filter-invert: invert(0) !important;
  --filter-dark-primary: invert(1) sepia(1) hue-rotate(-70deg) saturate(120);
}
