.colors-moon {
  --lightgray: #060606 !important;
  --darkgray: #fff !important;
  --venom: #111 !important;
  --venom-filter: grayscale(1) saturate(5) !important;
  --venom-filter-canvas: grayscale(1) brightness(01) !important;
  --darksteel: #343 !important;
  --blend-mode: darken !important;
  --filter-invert: invert(1) !important;
}
