:root {
  --lightgray: #e6e6e6 !important;
  --darkgray: #0d1117 !important;
  --venom-filter: sepia(1) saturate(5) !important;
  --venom: hsl(33.18deg 100% 50%) !important;
  --venom-filter-canvas: sepia(1) saturate(3) brightness(01) !important;
  --darksteel: #343 !important;
  --blend-mode: difference !important;
  --filter-invert: invert(0) !important;
  --filter-dark-primary: invert(1);
}
