<ul class="haikus">
  {% for haiku in haikus %}
  <li class="haikus-post">
      {% if haiku.data.gif %}
        <img src="{{ haiku.data.gif }}" />
      {% else %}
        <img src="/assets/enemyR.png" />
      {% endif %}
    <div class="haikus-meta">
    <a href="{{ haiku.data.url }}" class="haikus-title"{% if entry.data.url == url %} aria-current="page"{% endif %}>
      {% if haiku.data.title %}
        {{ haiku.data.title }}
      {% else %}
        <code>{{ haiku.url }}</code>
      {% endif %}
    </a>
    </div>
{% endfor %}
</ul>
