{{ set projects = search.pages("projects") }}

<script inline src="/_esnext/togglenav.js"></script>

<nav id="navbar" class="navbar">
  <a href="/" class="navbar-home">
    {{ site.title }}
  </a>
<ul id="navbar-links">
  <li style="list-style-type: '⌂'" ><a href="/">Home</a></li>
  <li style="list-style-type: '∿'" ><a href="/weblog">Weblog</a></li>
  <li style="list-style-type: '✶'" ><a href="/projects">Projects</a>
  <ul>
    {{ for project of projects }}
      <li style="list-style-type: '{{ project.bullet }}'">
        <a href="{{ project.url }}">
          {{ project.title }}
        </a>
      </li>
    {{ /for }}
  </ul>
  </li>
  <li style="list-style-type: '⌗'" ><a href="/meta">Meta</a></li>
  <li style="list-style-type: '𝖛'"><a href="/vic">VIC</a></li>
  <li style="list-style-type: '⛭'"><a href="/settings">Settings</a></li>
</ul>

<img width=100 src=""/>

</nav>
