<nav id="navbar" class="navbar">
  <a href="/" class="navbar-home">
    {{ site.title }}
  </a>
  <ul class="navbar-links">
    {%- for entry in search.pages("visible=true", "order") %}
      <li>
        <a href="{{ entry.data.url }}"{% if entry.data.url == url %} aria-current="page"{% endif %}>
          {% if entry.data.url == url %}
            <div class="current-page-indicator-bullet"></div> 
          {% endif %}
          {{ entry.data.title | upper }}
        </a>
      </li>
    {%- endfor %}
  </ul>
</nav>
