{{ set projects = search.pages("projects") }}

<script inline src="/_esnext/togglenav.js"></script>

<nav id="navbar" class="navbar">
  <a href="/" class="button">
    {{ site.title }}
  </a>

<ul id="navbar-links">
  <li style="list-style-type: '⌂'" ><a href="/">Home</a></li>
  <li style="list-style-type: '∿'" ><a href="/weblog">Weblog</a></li>
  <li style="list-style-type: '⌗'" ><a href="/meta">Meta</a></li>
  <li style="list-style-type: '𝖛'"><a href="/vic">VIC</a></li>
</ul>
</nav>
