<script inline type="module" src="/assets/programs/togglePageInfo.mjs">   
  </script>

<button href="#" class="page-info-button">?</button>

<div class="page-info-overlay">
  <div class="page-info">
    <h1 class="page-info-title">
      "{{ title |> toUpperCase }}"
    </h1>
    <article class="page-info-body">
      {{ info }} <span hidden class="vic-signature"><span>
    </article>
  </div>
</div>




