<style>
  {% include '/css/page-info.css' %}
</style>

<script type="module">   
  {% include '/@/programs/togglePageInfo.mjs' %}
</script>

<button href="#" class="page-info-button">?</button>

<div class="page-info-overlay">
  <div class="page-info">
    <h1 class="page-info-title">
      "{{ page.data.title | upper }}"
    </h1>
    <article class="page-info-body">
      {{ page.data.info | safe }} <span hidden class="vic-signature"><span>
    </article>
  </div>
</div>




