<link preload rel="stylesheet" href="css/page-info.css">

<a href="#" class="page-info-button">
  <img src="/@/page-info.gif" />
</a>

<div class="page-info-overlay">
  <div class="page-info">
    <h1 class="page-info-title">
      <span class="page-info-icon">
        <img src="/@/page-info.gif" />
      </span>
      "{{ page.data.title | upper }}"
    </h1>
    <p class="page-info-body">
      {{ page.data.info | safe }} <span hidden class="vic-signature"><span>
    </p>
  </div>
</div>

<script type="module" src="/@/pageInfo.mjs"></script>



