{% set swims = search.pages("swims", "date=desc", 99) %}

<link preload rel="stylesheet" href="css/swims.css">

<ul class="swims">
  {% for swim in swims %}
  <li class="swims-post">
      {% if swim.data.gif %}
        <img src="{{ swim.data.gif }}" />
      {% else %}
        <img src="/@/enemyR.png" />
      {% endif %}
    <div class="swims-meta">
    <a href="{{ swim.data.url }}" class="swims-title"{% if swim.data.url == url %} aria-current="page"{% endif %}>
      {% if swim.data.title %}
        {{ swim.data.title }}
      {% else %}
        <code>{{ swim.url }}</code>
      {% endif %}
    </a>
    </div>
{% endfor %}
</ul>
