<link preload rel="stylesheet" href="css/things.css">

<ul class="things">
  {% for thing in things %}
  <li class="things-post">
      {% if thing.data.gif %}
        <picture class="no-border">
          <img src="{{ thing.data.gif }}" />
        </picture>
      {% else %}
        <picture class="no-border">
          <img src="/@/images/enemyR.png" />
        </picture>
      {% endif %}
    <div class="things-meta">
    <a href="{{ thing.data.url }}" class="thing-title"{% if thing.data.url == url %} aria-current="page"{% endif %}>
      {% if thing.data.shortTitle %}
        {{ thing.data.shortTitle }}
      {% elseif thing.data.title %}
        {{ thing.data.title }}
      {% else %}
        <code>{{ thing.url }}</code>
      {% endif %}
    </a>
    </div>
{% endfor %}
</ul>
