<link preload rel="stylesheet" href="css/things.css">

<ul class="things">
  {% for thing in things %}
  <li class="things-post">
      {% if thing.data.gif %}
        <img src="{{ thing.data.gif }}" />
      {% else %}
        <img src="/@/enemyR.png" />
      {% endif %}
    <div class="things-meta">
    <a href="{{ thing.data.url }}" class="things-title"{% if thing.data.url == url %} aria-current="page"{% endif %}>
      {% if thing.data.title %}
        {{ thing.data.title }}
      {% else %}
        <code>{{ thing.url }}</code>
      {% endif %}
    </a>
    </div>
{% endfor %}
</ul>
