.colors-venom {
  --lightgray: #e6e6e6 !important;
  --darkgray: #0d1117 !important;
  --venom: #00ff00ff !important;
  --venom-filter: sepia(1) hue-rotate(90deg) saturate(5) !important;
  --venom-filter-canvas: none !important;
  --darksteel: #343 !important;
  --blend-mode: difference !important;
  --filter-invert: invert(0) !important;
}
