@import url("https://fonts.googleapis.com/css2?family=DotGothic16:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

@font-face {
  font-family: OffBitDot;
  src: url(/@/OffBitTrial-Dot.ttf);
}

@font-face {
  font-family: OffBitDotBold;
  src: url(/@/OffBitTrial-DotBold.ttf);
}

@font-face {
  font-family: Sidious;
  src: url(/@/Sidious.ttf);
}

:root {
  --font-family: DotGothic16, monospace !important;
  --font-family-title: Doomed, DotGothic16, monospace !important;
  --font-family-secondary: OffBitDot, DotGothic16, monospace !important;
  --font-family-tertiary: OffBitDotBold, DotGothic16, monospace !important;

  --font-family-title: Sidious, DotGothic16, monospace !important;
}
