.shake {
  animation: shake 0.5s infinite;
}

.shinjuku {
  animation: shinjuku 7s infinite;
  mix-blend-mode: difference;
}

@keyframes shinjuku {
  10% {
    opacity: 1;
    filter: brightness(1.4) saturate(2);
  }
  12% {
    opacity: 0.8;
    filter: brightness(1.4) saturate(2);
  }
  19% {
    opacity: 1;
    filter: brightness(1.4) saturate(2);
  }
  20% {
    opacity: 0.8;
    filter: brightness(1.4) saturate(2);
  }
  28% {
    opacity: 0.9;
    filter: brightness(1.4) saturate(2);
  }
  29% {
    opacity: 0.5;
    filter: brightness(1) saturate(1);
  }
  31% {
    opacity: 1;
    filter: brightness(1.4) saturate(2);
  }
  79% {
    opacity: 1;
    filter: brightness(1.4) saturate(2);
  }
  80% {
    opacity: 0.8;
    filter: brightness(1.4) saturate(2);
  }
  92% {
    opacity: 1;
    filter: brightness(1.4) saturate(2);
  }
}

.kowloon {
  animation: kowloon 7s infinite;
  mix-blend-mode: difference;
}

@keyframes kowloon {
  0% {
    opacity: 1;
    filter: brightness(1.4) saturate(2);
  }
  2% {
    opacity: 0.8;
    filter: brightness(1.4) saturate(2);
  }
  30% {
    opacity: 1;
    filter: brightness(1.4) saturate(2);
  }
  31% {
    opacity: 0.8;
    filter: brightness(1.4) saturate(2);
  }
  48% {
    opacity: 0.9;
    filter: brightness(1.4) saturate(2);
  }
  50% {
    opacity: 0.5;
    filter: brightness(1) saturate(1);
  }
  52% {
    opacity: 1;
    filter: brightness(1.4) saturate(2);
  }
  88% {
    opacity: 1;
    filter: brightness(1.4) saturate(2);
  }
  90% {
    opacity: 0.8;
    filter: brightness(1.4) saturate(2);
  }
  92% {
    opacity: 1;
    filter: brightness(1.4) saturate(2);
  }
}

.pulse {
  animation: pulse 6s infinite;
  animation-timing-function: step-start;
  mix-blend-mode: difference;
}

@keyframes pulse {
  0% {
    opacity: 1;
    filter: brightness(1.4) saturate(2);
  }
  1% {
    opacity: 0;
    transform: scale(1.1);
  }
  2% {
    opacity: 1;
    transform: scale(1);
  }
  69% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  71% {
    opacity: 1;
  }
  76% {
    opacity: 1;
  }
  77% {
    opacity: 0;
  }
  78% {
    opacity: 1;
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translate(2px, -2px) rotate(0deg);
  }
  10%,
  30% {
    transform: translate(-2px, 2px) rotate(-0.5deg);
  }
  50%,
  70%,
  90%,
  20%,
  40% {
    transform: translate(2px, 2px) rotate(0deg);
  }
  60%,
  80% {
    transform: translate(-2px, -2px) rotate(-0.5deg);
  }
}

.venomous {
  animation: venomous 3s infinite;
}

@keyframes venomous {
  0% {
    background-color: var(--darkgray);
    color: var(--venom);
  }
  50% {
    background-color: var(--venom);
    color: var(--darkgray);
  }
  100% {
    background-color: var(--darkgray);
    color: var(--venom);
  }
}

.blink {
  animation: blink 1s infinite;
}

.slow {
  animation-duration: 3s;
}

.fast {
  animation-duration: 1s;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.glow {
  animation: glow 2s infinite;
}

@keyframes glow {
  0% {
    filter: brightness(1) saturate(1);
  }
  50% {
    filter: brightness(1.4) saturate(2);
  }
  100% {
    filter: brightness(1) saturate(1);
  }
}
