.shake {
  animation: shake 0.5s infinite;
}

.pulse {
  animation: pulse 6s infinite;
}

@keyframes pulse {
  0%,
  10%,
  20%,
  30% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  70%,
  80%,
  90%,
  100% {
    opacity: 0;
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translate(2px, 2px);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate(0px, 0px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translate(-2px, -2px);
  }
}

.venomous {
  animation: venomous 3s infinite;
}

@keyframes venomous {
  0% {
    background-color: var(--darkgray);
    color: var(--venom);
  }
  50% {
    background-color: var(--venom);
    color: var(--darkgray);
  }
  100% {
    background-color: var(--darkgray);
    color: var(--venom);
  }
}

.blink {
  animation: blink 1s infinite;
}

.slow {
  animation-duration: 3s;
}

.fast {
  animation-duration: 1s;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
