@font-face {
  font-family: Code;
  src: url(/assets/fonts/code.ttf);
  font-display: swap;
}

@media (max-width: 500px) {
  pre {
    width: 100vw;
    margin: auto -9vw;
  }
  pre code.hljs {
    padding: 3rem 2rem !important;
    padding-top: 4rem;
    border: none !important;
    border-radius: 0 !important;
  }
  pre code.hljs::after {
    display: none;
  }
}

pre code {
  border: 1px dotted var(--venom);
}

code {
  color: var(--venom);
}

pre::after {
  padding: 0.2rem 0 0.1rem 0;
  content: " ▢ ▢ ▢";
  color: black;
  color: var(--venom);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(1rem + 2px);
  border-bottom: 1px dotted var(--venom);
  filter: hue-rotate(5deg) saturate(1.5) brightness(0.8);
  border-radius: 6px 6px 0 0;
}

pre {
  white-space: pre-wrap;
  position: relative;
}

pre,
code {
  font-family: Code, monospace !important;
  font-weight: 100;
  font-size: 0.8rem;
  line-height: 1rem;
}

code > .hljs-comment {
  animation: blink 1s infinite;
  animation-duration: 4s;
  color: var(--darksteel) !important;
}
pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 3rem;
  padding-top: 4.2rem;
  background: #010101;
  filter: contrast(0.9) brightness(1);
  border-radius: 0.3rem;
}
code.hljs {
  padding: 3px 5px;
}
.hljs {
  color: var(--venom);
  background: transparent;
}
.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-variable.language_ {
  color: var(--venom);
  font-style: italic !important;
  filter: hue-rotate(-5deg);
}
.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
  color: var(--venom);
}
.hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id,
.hljs-variable {
  color: var(--venom);
  filter: hue-rotate(10deg);
}
.hljs-meta .hljs-string,
.hljs-regexp,
.hljs-string {
  color: var(--venom);
  filter: hue-rotate(5deg);
}
.hljs-built_in,
.hljs-symbol {
  color: var(--venom);
}
.hljs-code,
.hljs-comment,
.hljs-formula {
  color: var(--venom);
}
.hljs-name,
.hljs-quote,
.hljs-selector-pseudo,
.hljs-selector-tag {
  color: var(--venom);
}
.hljs-subst {
  color: var(--venom);
}
.hljs-section {
  color: var(--venom);
  font-weight: 700;
}
.hljs-bullet {
  color: var(--venom);
}
.hljs-emphasis {
  color: var(--venom);
  font-style: italic;
}
.hljs-strong {
  color: var(--venom);
  font-weight: 700;
}
.hljs-addition {
  color: var(--venom);
  background-color: #033a16;
}
.hljs-deletion {
  color: var(--venom);
  background-color: #67060c;
}
