pre,
code {
  font-family: DotGothic16, monospace;
  line-height: 1.6rem;
  font-size: 1rem;
}
:root {
  --viper: var(--venom);
  --slime: var(--venom);
  --gypsy: var(--venom);
}
code > .hljs-comment {
  animation: blink 1s infinite;
  animation-duration: 4s;
  color: var(--darksteel) !important;
}
pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}
code.hljs {
  padding: 3px 5px;
}
.hljs {
  color: var(--venom);
  background: transparent;
}
.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-variable.language_ {
  color: var(--viper);
  font-style: italic !important;
}
.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
  color: var(--slime);
}
.hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id,
.hljs-variable {
  color: var(--slime);
}
.hljs-meta .hljs-string,
.hljs-regexp,
.hljs-string {
  color: var(--gypsy);
}
.hljs-built_in,
.hljs-symbol {
  color: var(--venom);
}
.hljs-code,
.hljs-comment,
.hljs-formula {
  color: var(--gypsy);
}
.hljs-name,
.hljs-quote,
.hljs-selector-pseudo,
.hljs-selector-tag {
  color: var(--slime);
}
.hljs-subst {
  color: var(--gypsy);
}
.hljs-section {
  color: var(--venom);
  font-weight: 700;
}
.hljs-bullet {
  color: var(--gypsy);
}
.hljs-emphasis {
  color: var(--gypsy);
  font-style: italic;
}
.hljs-strong {
  color: var(--gypsy);
  font-weight: 700;
}
.hljs-addition {
  color: var(--gypsy);
  background-color: #033a16;
}
.hljs-deletion {
  color: var(--gypsy);
  background-color: #67060c;
}
