/* Default font sizes */
.xxlt {
  font-size: 1.8rem;
}

.xlt {
  font-size: 1.6rem;
}

.lt {
  font-size: 1.4rem;
}

.mt {
  font-size: 1rem;
}

.st {
  font-size: 0.8rem;
}

/* Small screens (min-width: 640px) */
@media (min-width: 640px) {
  .xxlt-sm {
    font-size: 1.8rem !important;
  }

  .xlt-sm {
    font-size: 1.6rem !important;
  }

  .lt-sm {
    font-size: 1.4rem !important;
  }

  .mt-sm {
    font-size: 1rem !important;
  }

  .st-sm {
    font-size: 0.8rem !important;
  }
}

/* Medium screens (min-width: 768px) */
@media (min-width: 768px) {
  .xxlt-md {
    font-size: 1.8rem !important;
  }

  .xlt-md {
    font-size: 1.6rem !important;
  }

  .lt-md {
    font-size: 1.4rem !important;
  }

  .mt-md {
    font-size: 1rem !important;
  }

  .st-md {
    font-size: 0.8rem !important;
  }
}

/* Large screens (min-width: 1024px) */
@media (min-width: 1024px) {
  .xxlt-lg {
    font-size: 1.8rem !important;
  }

  .xlt-lg {
    font-size: 1.6rem !important;
  }

  .lt-lg {
    font-size: 1.4rem !important;
  }

  .mt-lg {
    font-size: 1rem !important;
  }

  .st-lg {
    font-size: 0.8rem !important;
  }
}

/* Extra-large screens (min-width: 1280px) */
@media (min-width: 1280px) {
  .xxlt-xl {
    font-size: 1.8rem !important;
  }

  .xlt-xl {
    font-size: 1.6rem !important;
  }

  .lt-xl {
    font-size: 1.4rem !important;
  }

  .mt-xl {
    font-size: 1rem !important;
  }

  .st-xl {
    font-size: 0.8rem !important;
  }
}

/* 2XL screens (min-width: 1536px) */
@media (min-width: 1536px) {
  .xxlt-2xl {
    font-size: 1.8rem !important;
  }

  .xlt-2xl {
    font-size: 1.6rem !important;
  }

  .lt-2xl {
    font-size: 1.4rem !important;
  }

  .mt-2xl {
    font-size: 1rem !important;
  }

  .st-2xl {
    font-size: 0.8rem !important;
  }
}
