footer {
  position: fixed;
  right: 0;
  bottom: 50%;
  transform: translateY(50%);
  grid-area: footer;
  text-align: left;
  background: 0 0;
  justify-content: end;
  align-items: center;
  padding: 0;
  font-size: 0.6rem;
  display: flex;
  justify-content: center;
  background: var(--darkgray) !important;
  border-radius: 5px 0 0 5px;
  border: 1px solid var(--darkgray);
  writing-mode: vertical-rl;
  box-shadow: 0 0 5px black;
}

footer > p {
  margin: 0;
  font-family: var(--font-family-secondary);
  line-height: normal;
  text-align: center;
  text-wrap: wrap;
  padding: 9px;
}

footer,
footer > p,
footer > p > a,
#footer-updated > a,
#last-updated-datetime {
  color: var(--venom);
}

footer > p > a {
  transition: color 0.3s ease-in-out;
  font-family: var(--font-family-secondary);
}
