footer {
  z-index: 100;
  position: fixed;
  bottom: 0;
  right: 50%;
  transform: translateX(50%);
  grid-area: footer;
  background: 0 0;
  justify-content: end;
  align-items: center;
  padding: 0;
  word-wrap: nowrap;
  font-size: 0.6rem;
  display: flex;
  justify-content: center;
  background: var(--darkgray) !important;
  border-radius: 5px 5px 0 0;
  border: 1px solid var(--darkgray);
  box-shadow: 0 0 5px black;

  @media (max-width: 1050px) {
    display: none;
  }
}

footer > p {
  margin: 0;
  font-family: var(--font-family-secondary);
  line-height: normal;
  text-align: center;
  text-wrap: wrap;
  padding: 9px;
  white-space: nowrap;
}

footer,
footer > p,
footer > p > a,
#footer-updated > a,
#last-updated-datetime {
  color: var(--venom);
}

footer > p > a {
  transition: color 0.3s ease-in-out;
  font-family: var(--font-family-secondary);
}
