footer {
  position: fixed;
  top: 0;
  right: -5px;
  width: 40px;
  height: 100%;
  padding:  0;
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 0.6rem;
  background: transparent;
  writing-mode: vertical-rl;
  text-align: left;
  color: var(--darksteel) !important;
}

footer > p {
  color: var(--darksteel) !important;
  margin: 0;
  font-family: var(--font-family-secondary);
  line-height: normal;
  text-align: center;
  text-wrap: wrap;
  background: var(--darkgray) !important;
  padding: 9px;
  border-radius: 0 0 4px 4px;
}

#footer-updated > a, #last-updated-datetime {
  color: var(--venom) !important;
}

@media (max-width: 500px) {
  footer > p {
    font-size: 0.8rem;
  }

footer > p > a {
  color: var(--venom);
  transition: color 0.3s ease-in-out;
  font-family: var(--font-family-secondary);
}
