.border {
  border: dotted 1px var(--venom);
  border-radius: 3px;
}

.ascii {
  font-feature-settings: "emoji" 0;
  -webkit-font-feature-settings: "emoji" 0;
}

#site-title {
  z-index: 100;
  position: fixed;
  top: 0;
  right: 50%;
  transform: translateX(50%);
  border-radius: 0 0 10px 10px;
  padding: 7px;
  width: 250px;
  text-align: center;
  box-shadow: 0 0 8px black;

  &:hover {
    box-shadow: -1px -2px 11px black inset;
    background-color: var(--venom);
    color: var(--darkgray);
    text-decoration: none;

    & a {
      color: var(--darkgray);
    }
  }

  &:focus {
    background-color: var(--venom);
    color: var(--darkgray);
    box-shadow: -1px -2px 11px black inset;
  }

  &:active {
    background-color: var(--venom);
    color: var(--darkgray);
    box-shadow: 0px 0px 15px var(--venom);
  }
}

.goodbye {
  font-size: 2rem;
  text-align: center;
  overflow-wrap: anywhere;
}

.tag {
  text-align: center;
  text-transform: uppercase;
  padding: 0.4rem 0.6rem 0.2rem 0.6rem;
  margin-inline: 0.3rem;
  border-radius: 3px;
  color: var(--venom);
  font-family: var(--font-family-secondary) !important;
  font-weight: 600;
  display: inline-block;
  text-decoration: none;
  line-height: 1;

  &.button {
    cursor: pointer;
    &:hover {
      background-color: var(--venom);
      color: var(--darkgray);
    }
  }

  &.notch {
    z-index: 1;
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    writing-mode: vertical-rl;
    font-size: 0.5rem;
    border-radius: 10px 0 0 10px;
    border: none;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    font-weight: 600;
    box-shadow: 0 0 5px black;
  }

  &.big {
    font-size: 1rem;
    display: block;
  }

  &.marker {
    margin-left: 4px;
  }

  &.lower {
    text-transform: unset;
  }

  &.fill {
    width: -webkit-fill-available;
    display: block;
    text-align: center;
  }
}

.no-border {
  border: none !important;
}

.page-title {
  margin: 1rem 0 0.5rem 0;
  font-weight: 100;
  text-align: center;
  color: var(--venom);
  line-height: normal;
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 0 2rem 0;
}

.contents {
  margin: 0 0 2rem 0;
  padding: 2rem 1rem 2rem 2.5rem;
  border: var(--venom) 1px dashed;
  text-transform: uppercase;

  & h2 {
    margin: 0;
    margin-bottom: 2rem;
  }

  & ul {
    padding: 0;
    margin: 0;
  }

  & ul li {
    list-style: "⌑ ";
    margin-left: 1.5rem;
  }

  & ul li:hover,
  ul li:focus {
    list-style: "ｘ ";
    animation: shake 0.5s infinite;
  }

  & ul li a {
    margin-left: 0rem;
  }
}

.quote-author {
  font-family: var(--font-family-title);
  font-size: 1.5rem;
  font-style: italic;
  color: var(--venom);
  text-align: right;
  margin: 0;
}

.picture-grid {
  margin: 2rem -200px;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  & > p {
    display: none;
  }

  &.stagger > :nth-child(odd) {
    transform: translateY(-20px);
  }

  &.stagger > :nth-child(even) {
    transform: translateY(20px);
  }

  @media (max-width: 800px) {
    margin-inline: -300px;
  }

  @media (max-width: 500px) {
    margin-inline: -50vw;
  }
}
