.border {
  border: dotted 1px var(--venom);
  border-radius: 3px;
}

.ascii {
  font-feature-settings: "emoji" 0;
  -webkit-font-feature-settings: "emoji" 0;
}

.tag {
  text-transform: uppercase;
  padding: 0.4rem 0.6rem 0.2rem 0.6rem;
  border-radius: 7px;
  font-family: var(--font-family-secondary);
  font-weight: 400;
  display: inline-block;
  text-decoration: none;
  line-height: 1;

  &.notch {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.7rem;
    border-radius: 0 0 5px 5px;
    width: 100%;
    max-width: 200px;
  }

  &.big {
    font-size: 1rem;
    display: block;
  }

  &.marker {
    margin-left: 4px;
  }
}

.no-border {
  border: none !important;
}

.page-title {
  margin: 1rem 0 0.5rem 0;
  font-size: 4em;
  font-weight: 100;
  text-align: center;
  color: var(--venom);
  line-height: normal;
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.contents {
  margin: 1rem 0;
  padding: 2rem 1rem 2rem 2.5rem;
  border: var(--venom) 1px dashed;
  text-transform: uppercase;

  & h2 {
    margin: 0;
    margin-bottom: 2rem;
  }

  & ul {
    padding: 0;
    margin: 0;
  }

  & ul li {
    list-style: "⌑ ";
    margin-left: 1.5rem;
  }

  & ul li:hover,
  ul li:focus {
    list-style: "ｘ ";
    animation: shake 0.5s infinite;
  }

  & ul li a {
    margin-left: 0rem;
  }
}

.quote-author {
  font-family: var(--font-family-title);
  font-size: 1.5rem;
  font-style: italic;
  color: var(--venom);
  text-align: right;
  margin: 0;
}

.picture-grid {
  margin: 2rem -200px;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  & > p {
    display: none;
  }

  @media (max-width: 800px) {
    margin-inline: -300px;
  }

  @media (max-width: 500px) {
    margin-inline: -50vw;
  }
}
