.post {
  margin: 0;
  text-align: center;
}

.post-header {
  margin: 0 0 2rem 0;
}

.post-title {
  line-height: 4rem;
  font-size: 4em;
  font-weight: 100;
  text-align: center;
  margin: 0;
  color: var(--venom);
  overflow-wrap: anywhere;
}

.post-tags {
  display: inline;
}

.post-body {
  text-align: left;
}

.post-navigation {
  & ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  & li {
    padding: 1em;
  }
}
.post-navigation {
  color: var(--darksteel) !important;
}
.post-navigation a {
  color: var(--darksteel) !important;
}
.post-navigation a:hover {
  color: var(--venom) !important;
}

.post-meta {
  font-size: 0.8rem;
}
