.post {
  text-align: center;
}

.post-header {
  padding: 5vh 0;
  padding-bottom: 2vh;
}
.post-title {
  font-family: var(--font-family-post-title);
  font-weight: 100 !important;
  font-size: 4rem;
  font-size: clamp(2rem, 10vw, 4rem);
  line-height: 1;
  letter-spacing: 0.2rem;
  margin: 0 0 0.25em;
}
.post-tags {
  display: inline;
}
.post-body {
  text-align: left;
  font-family: var(--font-family-post-body);
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6;
  padding: 0 20vw;

  letter-spacing: 1px;

  & p,
  & ul,
  & ol {
    transform-origin: left;
    /* max-width: 45em; */
  }

  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    font-family: var(--font-family-title);
    font-weight: 100 !important;
    margin-bottom: 0;
  }
}

@media (max-width: 1200px) {
  .post-body {
    padding: 0 1%;
  }
}

.post-navigation {
  & ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  & li {
    padding: 1em;
  }
}
.post-navigation {
  color: var(--darksteel) !important;
}
.post-navigation a {
  color: var(--darksteel) !important;
}
.post-navigation a:hover {
  color: var(--venom) !important;
}
