.post {
  margin: 0;
  text-align: center;
  padding: 0 0 1rem 0;
}

.post-header {
  margin-bottom: 2rem;
}

.post-title {
  text-align: center;
  color: var(--venom);
}

.post-tags {
  display: inline;
}

.post-body {
  text-align: left;
}

.post-meta {
  font-size: 0.8rem;
  text-transform: uppercase;
}
