@import url("https://fonts.googleapis.com/css2?family=DotGothic16&family=IBM+Plex+Mono:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Silkscreen:wght@400;700&family=VT323&family=Xanh+Mono:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martian+Mono:wght@300;400&family=Zen+Kaku+Gothic+New:wght@300;400;500;700;900&display=swap");
@font-face {
  font-family: OffDot;
  src: url(/@/OffBitTrial-Dot.ttf);
}
@font-face {
  font-family: OffDotBold;
  src: url(/@/OffBitTrial-DotBold.ttf);
}
@font-face {
  font-family: Vastantonius;
  src: url(/@/Vastantonius.ttf);
}

.venomous {
  animation: venomous 3s infinite;
}

@keyframes venomous {
  0% {
    background-color: var(--darkgray);
    color: var(--venom);
  }
  50% {
    background-color: var(--venom);
    color: var(--darkgray);
  }
  100% {
    background-color: var(--darkgray);
    color: var(--venom);
  }
}

.border {
  border: dotted 1px var(--venom);
  border-radius: 3px;
}

#press-spacebar {
  color: var(--venom);
}

:root {
  --red: #c04;
  --lightgray: #e6e6e6;
  --invert_darkgray: #f2eee8;
  --invert_venom: #ff007b;
  --darkgray: #0d1117;
  --venom: #00ff00ff;
  --blue: #135;
  --white: #fff;
  --black: #000;
  --darksteel: #343;
  --font-family: OffDot, DotGothic16, monospace;
  --font-family-navbar: OffDotBold, DotGothic16, monospace;
  --font-family-title: Vastantonius, DotGothic16, monospace;
  --font-family-delight: OffDotBold, DotGothic16, monospace;
  --font-family-emphasis: OffDot, DotGothic16, monospace;
  --font-family-post-title: Vastantonius, DotGothic16, monospace;
  --font-family-post-body: DotGothic16, -apple-system, system-ui, sans-serif;
  --font-family-dot-gothic: DotGothic16, -apple-system, system-ui, sans-serif;
}

.tag {
  position: relative;
  font-family: var(--font-family-delight);
  font-weight: 400;
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.7rem;
  line-height: 1;
  color: var(--white);
  border-radius: 0.25em;
  text-decoration: none;
  padding: 0.4em 0.4em 0.2em 0.4em;

  &.big {
    font-size: 1rem;
    padding: 0.4em 0.3em 0.2em 0.6em;
  }

  &.marker {
    margin-left: 4px;
  }
}

:focus,
*:focus {
  outline: var(--venom) dotted 1px !important;
  outline-offset: 3px;
  border-radius: 2px;
}

em,
strong {
  font-family: var(--font-family-delight);
  color: var(--venom);
}

strong {
  font-family: var(--font-family-title);
  color: var(--venom);
}

ul,
li {
  list-style-type: "";
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: var(--font-family);
  color: var(--white);
  background-color: var(--darkgray);
}

main {
  padding: 2vh 5vw 5vh 5vw;
  overflow: hidden;
}

main > :first-child {
  margin-top: 0;
}

blockquote {
  font-family: var(--font-family-delight);
  color: var(--venom);
  border-left: dotted 2px var(--venom);
  padding-left: 1em;
  margin-left: 0;
}

hidden {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-delight);
  color: var(--venom);
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1rem;
}

a {
  color: var(--lightgray);
  text-decoration: dotted underline var(--venom);
  text-underline-offset: 4px;
  cursor: pointer;
  & > .tag {
    webkit-text-decoration: none !important;
    text-decoration: none !important;
  }
}

a:hover {
  color: var(--venom) !important;
}

.warning {
  background-color: #ffc;
  padding: 1em 0.5em;
}

table {
  margin: 1em 0;
}

table td,
table th {
  padding-right: 1em;
}

hr {
  border: 0;
  border-top: solid 2px var(--darkgray);
  margin: 2.5vh 0;
}

picture {
  position: relative;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 80vw;
  width: fit-content;
  height: fit-content;
  filter: sepia(1) hue-rotate(90deg) saturate(3);
  image-rendering: pixelated;
  border: lime dotted 1px;
  & > p {
    margin: 0;
    display: contents;
  }
}

.no-border {
  border: none !important;
}

picture::after {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 99;
  content: "";
  background-image: radial-gradient(transparent, black);
  background-size: 3px 3px;
  pointer-events: none;
  & > * {
    image-rendering: pixelated;
  }
}

figure {
  width: fit-content;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

figcaption {
  font-size: 1rem;
  & > p {
    margin: 0;
  }
}

video {
  width: -webkit-fill-available;
}

img {
  max-width: 100%;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
