html,
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  font-family: var(--font-family);
  color: var(--lightgray);
  background-color: var(--darkgray);
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 1px;
  font-size: 16px;
}

body {
  display: grid;
  grid-template-columns: 22vw auto;
  grid-template-rows: 100vh;
  grid-template-areas: "navbar main";

  @media (max-width: 1050px) {
    grid-template-columns: 100vw;
    grid-template-rows: 100vh;
    grid-template-areas: "main";
  }
}

body.zen {
  grid-template-columns: 100vw !important;
  grid-template-rows: 100vh !important;
  grid-template-areas: "main" !important;

  > .navbar > .config-buttons {
    display: none;
  }
}

#frame {
  border: 1px dotted var(--venom);
  height: 100vh;
  width: 100vw;
  position: fixed;
  pointer-events: none;
}

* {
  box-sizing: border-box;
  transition: opacity 0.3s ease-in-out;
}

main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 8vh 14vw 5vh 14vw;
  overflow-y: auto;
  overflow-x: hidden;

  @media (max-width: 500px) {
    margin: 0 1vw;
    padding: 10vh 5vw 5vh 5vw;
    justify-content: flex-start;
  }
}

.hidden {
  display: none !important;
}

.display {
  display: flex;
}

button {
  height: 50px;
  width: auto;
  color: var(--venom);
  padding: 0.5rem 1rem;
  border-radius: 20px;
  font-family: var(--font-family-title);
  font-size: 16px;
  font-weight: 400;
  background-color: var(--darkgray);
  border: var(--venom) dotted 1px;
  cursor: pointer;
  outline: none;
  box-shadow: 0 0 5px black;
  transition: box-shadow, padding, 0.4s ease-in-out;

  &:hover {
    box-shadow: -1px -2px 11px black inset;
    background-color: var(--venom);
    border-radius: 20px;
    color: var(--darkgray);
  }

  &:focus {
    box-shadow: -1px -2px 11px black inset;
    border-radius: 20px;
  }

  &:active {
    border-radius: 20px;
    box-shadow: 0px 0px 15px var(--venom);
  }
}

canvas {
  filter: var(--venom-filter-canvas);
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

:focus,
*:focus {
  outline: var(--venom) dotted 1px !important;
  outline-offset: 3px;
  border-radius: 2px;
}

em,
strong {
  font-family: var(--font-family-secondary);
  color: var(--venom);
}

strong {
  font-family: var(--font-family-title);
  color: var(--venom);
}

sup {
  vertical-align: super;
}

ul,
li {
  & > a {
    margin-left: 0.5rem;
    list-style-type: none;
  }
}

ul li {
  list-style-type: "âŒ ";
}

ol li {
  margin-right: 1rem;
  list-style-type: decimal;
}

::marker {
  color: var(--venom);
}

math {
  display: none;
}

.katex-display {
  display: block;
  text-align: center;
  font-family: Code, monospace;
  font-size: 1.3rem;
  font-style: italic;
  color: var(--venom);
  margin: 0 0 2rem 0;
  overflow-wrap: anywhere;
}

blockquote {
  font-family: var(--font-family-title);
  font-size: 1.5rem;
  font-style: italic;
  color: var(--venom);
  border-left: dotted 2px var(--venom);
  padding-left: 1em;
  margin: 0 0 2rem 0;
  & > p {
    margin: 0;
  }
  & h3 {
    margin: 0;
    text-align: right;
  }
  &:has(callout) {
    padding: 1rem;
    border-radius: 3px;
    font-family: var(--font-family-secondary);
    font-size: 1rem;
    border: 1px dotted var(--venom);
  }
  &:has(dialogue) {
    text-align: left;
    color: var(--lightgray);
    padding: 1.5rem 2rem;
    border-radius: 3px;
    font-family: var(--font-family-secondary);
    font-size: 1rem;
    border: 1px dotted var(--venom);
  }
  & dialogue {
    position: relative;
  }
  & dialogue::before {
    content: " ";
    float: left;
    border-radius: 3px;
    width: 4.6rem;
    height: 4.6rem;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    border: 1px dotted var(--venom);
    filter: var(--venom-filter);
    margin: -1.55rem -7.5rem;
  }
  @media (max-width: 900px) {
    &:has(dialogue) {
      min-height: 6.2rem;
      margin: 0 0 2rem 0;
    }
    & dialogue::before {
      margin: -0.5rem 1rem 0 -1rem;
      width: 4rem;
      height: 4rem;
      float: left;
    }
  }
  & dialogue[vic]::before {
    background-image: url("/assets/images/dialogue-vic.webp");
  }
  & dialogue[ai]::before {
    background-image: url("/assets/images/dialogue-ai.webp");
  }
  & dialogue[anonymous]::before {
    background-image: url("/assets/images/cyberskull.gif");
    background-position: center;
    background-size: 70%;
  }
}

code {
  margin: 2rem 0;
}

time {
  /* margin: 1rem; */
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1rem 0;
}

h1 {
  font-family: var(--font-family-title);
  font-size: 3.5rem;
  color: var(--venom);
  font-weight: 100;
  @media (max-width: 500px) {
    font-size: 3rem;
  }
}

h2 {
  font-size: 2.8rem;
  color: var(--venom);
  font-weight: 100;
  @media (max-width: 500px) {
    font-size: 2rem;
  }
}

h2,
h3,
h4,
h5,
h6 {
  line-height: normal;
  font-family: var(--font-family-title);
  color: var(--venom);
  font-weight: 100;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

p {
  margin: 0 0 2rem 0;
}

a {
  color: var(--lightgray);
  text-decoration: underline;
  text-decoration-color: var(--venom);
  text-decoration-style: dotted;
  text-underline-offset: 4px;
  cursor: pointer;

  &:hover {
    color: var(--venom);
  }
}

.warning {
  background-color: #ffc;
  padding: 1em 0.5em;
}

table {
  margin: 1em 0;
}

table th {
  text-align: left;
  color: var(--venom);
  font-family: var(--font-family-title);
}

table td,
table th {
  padding-right: 1em;
}

hr {
  border: 0;
  border-top: solid 2px var(--darkgray);
  margin: 2.5vh 0;
}

img {
  min-width: 1px;
  object-fit: contain;
}

picture {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 80vw;
  margin: 0 auto;
  width: fit-content;
  height: fit-content;
  filter: var(--venom-filter);
  image-rendering: pixelated;
  border: var(--venom) dotted 1px;
  & > p {
    margin: 0;
    display: contents;
  }
}

picture::after {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 99;
  content: "";
  background-image: radial-gradient(transparent, black);
  background-size: 2px 2px;
  pointer-events: none;
  & > * {
    image-rendering: pixelated;
  }
}

figure {
  width: fit-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

figcaption {
  color: var(--venom);
  font-size: 0.8rem;
  margin-top: 0.3em;
  & > p {
    margin: 0;
  }
}

video {
  min-width: 200px;
}

aside {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  color: var(--venom);
}
