html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: var(--font-family);
  color: var(--lightgray);
  background-color: var(--darkgray);
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 1px;
  font-size: 18px;
  @media (max-width: 500px) {
    font-size: 16px;
  }
}

* {
  box-sizing: border-box;
  transition: opacity 0.3s ease-in-out;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20vw 1rem 20vw;
  overflow: hidden;

  @media (max-width: 500px) {
    justify-content: flex-start;
  }
}

button {
  transition: color, background, background-color 0.3s ease-in-out;
  width: auto;
  color: var(--venom);
  padding: 0.5rem;
  border-radius: 5px;
  font-family: var(--font-family-title);
  font-size: 1.3rem;
  font-weight: 400;
  background-color: var(--darkgray);
  border: var(--venom) dotted 1px;
  cursor: pointer;
  outline: none;

  &:hover {
    box-shadow: -1px -2px 11px black inset;
    background-color: var(--venom);
    color: var(--darkgray);
    border: black solid 1px;
  }

  &:focus {
    box-shadow: -1px -2px 11px black inset;
    background-color: var(--venom);
    color: var(--darkgray);
    border-radius: 10px;
  }
}

canvas {
  filter: var(--venom-filter-canvas);
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

:focus,
*:focus {
  outline: var(--venom) dotted 1px !important;
  outline-offset: 3px;
  border-radius: 2px;
}

em,
strong {
  font-family: var(--font-family-secondary);
  color: var(--venom);
}

strong {
  font-family: var(--font-family-title);
  color: var(--venom);
}

sup {
  font-size: 0.7em;
  vertical-align: super;
}

ul,
li {
  list-style-type: "";
  & > a {
    margin-left: 0.5rem;
  }
}

::marker {
  color: var(--venom);
}

comment {
  color: var(--darksteel);
  font-family: Code, var(--font-family-secondary);
  font-size: 0.9rem;
  animation: blink 3s infinite;
}

math {
  display: none;
}

.katex-display {
  display: block;
  text-align: center;
  font-family: Code, monospace;
  font-size: 1.3rem;
  font-style: italic;
  color: var(--venom);
  margin: 0 0 2rem 0;
}

blockquote {
  font-family: var(--font-family-title);
  font-size: 1.5rem;
  font-style: italic;
  color: var(--venom);
  border-left: dotted 2px var(--venom);
  padding-left: 1em;
  margin: 0 0 2rem 0;
  & > p {
    margin: 0;
  }
  & h3 {
    margin: 0;
    text-align: right;
  }
  &:has(callout) {
    padding: 1rem;
    border-radius: 3px;
    font-family: var(--font-family-secondary);
    font-size: 1rem;
    border: 1px dotted var(--venom);
  }
  &:has(dialogue) {
    text-align: left;
    color: var(--lightgray);
    padding: 2rem;
    border-radius: 3px;
    font-family: var(--font-family-secondary);
    font-size: 1rem;
    border: 1px dotted var(--venom);
    min-height: 150px;
  }
  & dialogue {
    position: relative;
  }
  & dialogue::before {
    content: " ";
    float: left;
    padding: 10px;
    margin: -2rem -8rem;
    border-radius: 3px;
    width: 4rem;
    height: 4rem;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    border: 1px dotted var(--venom);
    filter: var(--venom-filter);
  }
  /* & dialogue::after { */
  /*   position: absolute; */
  /*   top: -7px; */
  /*   left: 0; */
  /*   content: " "; */
  /*   float: left; */
  /*   padding: 10px; */
  /*   margin: -2rem -8rem; */
  /*   border-radius: 3px; */
  /*   width: 4rem; */
  /*   height: 4.2rem; */
  /*   display: block; */
  /*   border: 1px dotted transparent; */
  /*   background-image: radial-gradient(transparent, black); */
  /*   background-size: 1px 1px; */
  /* } */
  @media (max-width: 900px) {
    font-size: 1.5rem;
    & dialogue::before {
      margin: unset;
      margin-inline-end: 1rem;
    }
  }
  & dialogue[vic]::before {
    background-image: url("/assets/images/dialogue-vic.webp");
  }
  & dialogue[ai]::before {
    background-image: url("/assets/images/dialogue-ai.webp");
  }
}

code {
  margin: 2rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1rem 0;
}

h1 {
  font-family: var(--font-family-title);
  font-size: 3rem;
  color: var(--venom);
  font-weight: 100;
}

h2 {
  font-size: 3rem;
  color: var(--venom);
  font-weight: 100;
}

h2,
h3,
h4,
h5,
h6 {
  line-height: normal;
  font-family: var(--font-family-title);
  color: var(--venom);
  font-weight: 100;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 1rem;
  display: inline-block;
}

p {
  margin: 0 0 2rem 0;
}

a {
  color: var(--lightgray);
  text-decoration: underline;
  text-decoration-color: var(--venom);
  text-decoration-style: dotted;
  text-underline-offset: 4px;
  cursor: pointer;

  &:hover {
    color: var(--venom);
  }
}

.warning {
  background-color: #ffc;
  padding: 1em 0.5em;
}

table {
  margin: 1em 0;
}

table th {
  text-align: left;
  color: var(--venom);
  font-family: var(--font-family-title);
}

table td,
table th {
  padding-right: 1em;
}

hr {
  border: 0;
  border-top: solid 2px var(--darkgray);
  margin: 2.5vh 0;
}

img {
  min-width: 1px;
  object-fit: contain;
}

picture {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 80vw;
  margin: 0 auto;
  width: fit-content;
  height: fit-content;
  filter: var(--venom-filter);
  image-rendering: pixelated;
  border: var(--venom) dotted 1px;
  & > p {
    margin: 0;
    display: contents;
  }
}

picture::after {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 99;
  content: "";
  background-image: radial-gradient(transparent, black);
  background-size: 2px 2px;
  pointer-events: none;
  & > * {
    image-rendering: pixelated;
  }
}

figure {
  width: fit-content;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

figcaption {
  color: var(--venom);
  font-size: 0.8rem;
  margin-top: 0.3em;
  & > p {
    margin: 0;
  }
}

video {
  min-width: 200px;
}

aside {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  color: var(--venom);
}
