:root {
  --pagefind-ui-scale: 0.8;
  --pagefind-ui-primary: var(--darkgray);
  --pagefind-ui-text: var(--darkgray);
  --pagefind-ui-background: var(--white);
  --pagefind-ui-border: var(--lightgray);
  --pagefind-ui-tag: var(--lightgray);
  --pagefind-ui-border-radius: 5px !important;
}

#search {
  & .pagefind-ui {
    font-family: var(--font-family) !important;
    filter: invert(1);
  }
  & .pagefind-ui__drawer {
    margin-top: 2px;
    position: absolute;
    background: var(--invert_darkgray);
    padding: 0 2rem 1rem;
    max-height: calc(100vh - 200px);
    overflow-y: auto;
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.2),
      0 2px 2px 0 rgba(0, 0, 0, 0.1);
    border-radius: var(--pagefind-ui-border-radius);
    border-bottom-right-radius: var(--pagefind-ui-border-radius);
    border-bottom-left-radius: var(--pagefind-ui-border-radius);
    width: 100%;
    box-sizing: border-box;
  }
  & .pagefind-ui__message {
    margin: 0;
    padding: 0;
  }
  & .pagefind-ui__result-link {
    font-family: var(--font-family-delight);
    color: var(--venom);
    filter: invert(1);
  }
  & .pagefind-ui__result-excerpt {
    color: var(--black);
  }
  & .pagefind-ui__drawer {
    border: var(--lightgray) 1px solid;
  }
  .pagefind-ui__search-input {
    font-family: var(--font-family-delight) !important;
    border-radius: var(--pagefind-ui-border-radius);
    &:focus {
      outline: var(--invert_venom) solid 1px !important;
    }
  }
  .pagefind-ui__button {
    font-family: var(--font-family-delight) !important;
  }
  .pagefind-ui__drawer {
    padding: 10px 20px !important;
    font-family: var(--font-family) !important;
    box-shadow: none !important;
  }
  .pagefind-ui__search-clear {
    font-family: var(--font-family-delight) !important;
    border: none !important;
    background: none !important;
    border-radius: 0 !important;
    font-size: 0.9em !important;
    font-weight: 900 !important;
    padding: 10px !important;
    outline: var(--invert_venom) 10px !important;
  }
  & mark {
    color: var(--venom);
    font-weight: 900;
    font-family: var(--font-family-delight);
    filter: invert(1);
    background: none !important;
  }
}

search-form {
}
oom-search::part(input) {
  border: solid 2px var(--darkgray);
  border-radius: 4px;
  padding: 0.5em;
  background: var(--darkgray);
}
oom-search::part(label) {
  font-weight: bold;
}
oom-search::part(input) {
  border: solid 2px var(--darkgray);
  border-radius: 4px;
  padding: 0.5em;
  background: none;
}
oom-search::part(items) {
  padding: 0.5em;
  margin: 0.5em 0;
  box-shadow: 0 2px 3px #000;
  background: var(--darkgray);
  width: auto;
  min-width: 100%;
  right: 0;
}
oom-search::part(item) {
  background: none;
  font: inherit;
  padding: 0.5em 1em;
}
oom-search::part(active) {
  font-family: var(--font-family-delight);
  background-color: var(--lightgray);
}
