@font-face {
  font-family: DotGothic16;
  src: url(/assets/fonts/DotGothic16.ttf);
  font-display: swap;
}

@font-face {
  font-family: GomePixelR;
  src: url(/assets/fonts/GomePixelR.otf);
  font-display: swap;
}

@font-face {
  font-family: GomePixel;
  src: url(/assets/fonts/GomePixel.otf);
  font-display: swap;
}

@font-face {
  font-family: NeueBit;
  src: url(/assets/fonts/NeueBit.otf);
  font-display: swap;
}

@font-face {
  font-family: Oswald;
  src: url(/assets/fonts/Oswald.ttf);
  font-display: swap;
}

@font-face {
  font-family: Mondwest;
  src: url(/assets/fonts/Mondwest.otf);
  font-display: swap;
}

@font-face {
  font-family: LowDef;
  src: url(/assets/fonts/LowDef.ttf);
  font-display: swap;
}

@font-face {
  font-family: Code;
  src: url(/assets/fonts/code.ttf);
  font-display: swap;
}

:root {
  --venom: #00ff00 !important;
  --foreground: var(--venom) !important;
  --background: #111 !important;
  --venom-filter: sepia(1) hue-rotate(90deg) saturate(5) !important;

  --font-prose: NeueBit, DotGothic16, monospace;
  --font-emphasis: Mondwest, DotGothic16, monospace;
  --font-special: NeueBit, monospace;
  --font-logo: LowDef, monospace;
  --font-title: Oswald, monospace;
  --font-code: Code, monospace;

  --blend-mode: difference;
  --filter-invert: invert(0);
}

* {
  color: var(--foreground);
}

html {
  font-family: var(--font-prose);
  background: var(--background);
  font-size: 16px;
  margin: 0;

  @media (max-width: 600px) {
    font-size: 12px;
  }
}

body {
  color: var(--foreground);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin: 0;
}

main {
  height: 90vh;
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

code {
  font-family: var(--font-code);
  font-size: 0.8rem;
}

h1 {
  text-align: center;
  font-family: var(--font-logo);
  color: var(--foreground);
  font-size: 4rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

p {
  line-height: 1.5rem;
}

em {
  font-family: var(--font-emphasis);
}

a {
  color: var(--venom);
}

pre code {
  border: 1px dotted var(--venom);
}

code {
  color: var(--venom);
  scrollbar-color: var(--venom) var(--darkgray);
  scrollbar-width: thin;
}

pre {
  position: relative;
  filter: var(--venom-filter);
}

pre,
code {
  font-family: Code, DotGothic16, monospace !important;
  font-weight: 100;
  font-size: 0.8rem;
  line-height: 1rem;
}

code > .hljs-comment {
  animation: blink 1s infinite;
  animation-duration: 4s;
  color: var(--darksteel) !important;
}
pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 2rem 2rem 1.8rem 2rem;
  background: #010101;
  filter: contrast(0.9) brightness(1);
  border-radius: 3px;
}

picture {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 80vw;
  margin: 0 auto;
  width: fit-content;
  height: fit-content;
  filter: var(--venom-filter);
  image-rendering: pixelated;
  border: var(--venom) dotted 1px;
  border-radius: 3px;
  & > p {
    margin: 0;
    display: contents;
  }
}

picture::after {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 99;
  content: "";
  background-image: radial-gradient(transparent, black);
  background-size: 2px 2px;
  pointer-events: none;
  & > * {
    image-rendering: pixelated;
  }
}

figure {
  width: fit-content;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

figcaption {
  color: var(--venom);
  font-size: 0.8rem;
  margin-top: 0.3em;
  & > p {
    margin: 0;
  }
}

video {
  min-width: 200px;
}

aside {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  color: var(--venom);
}

li a {
  font-family: Oswald;
  font-weight: 500;
}

#sitebar {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--foreground);
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  filter: blur(0.5px);
  width: 90px;
  padding-top: 10px;
}

.site-title {
  font-family: var(--font-logo);
  text-decoration: none;
  text-align: center;
  font-size: 1rem;
  color: var(--foreground);
  margin: 0;
  padding: 0;
}

section {
  width: 100%;
  background-repeat: no-repeat;
  color: var(--foreground);

  &.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &.fullscreen {
    height: 100vh;
  }
}

#logo {
  text-align: center;
  transform: skew(-2deg, -1deg);
  width: 35vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (max-width: 600px) {
    width: 80vw;
  }
}

#logo-type {
  color: var(--venom);
  font-size: 3rem;
  font-family: var(--font-logo);
  margin: 0;
  padding: 0;
  transform: rotateX(45deg) scaleY(1.5);
  font-weight: 100;
  filter: drop-shadow(1px 1px 1px black);
  mix-blend-mode: hard-light;

  & h1 {
    font-size: 6rem;
    color: var(--venom);
  }

  @media (max-width: 600px) {
    text-align: center;
  }
}

#logo-swoosh {
  position: absolute;
  bottom: 50%;
  left: 50%;
  filter: drop-shadow(1px 1px 1px #000) invert() sepia() hue-rotate(381deg)
    saturate(42.5) blur(1px);
  width: 50vw;
  transform: translate(-50%) translateY(50%);

  @media (max-width: 600px) {
    width: 80vw;
  }
}

a {
  color: var(--venom);
  text-decoration: none;
}

footer {
  display: none;
}
