@media (max-width: 1050px) {
  .hide-on-mobile {
    display: none;
  }
}

.log {
  line-height: 2rem;
  text-align: center;
  list-style: none;

  & td {
    text-align: left;
  }

  & time {
    color: var(--lightgray);
    font-size: 0.7rem;
  }

  & .venom {
    background: var(--venom);
    color: var(--darkgray);
  }
}

.log-tags {
  text-transform: uppercase;
  color: var(--venom);
  font-style: italic;
  font-size: 0.6rem;
}
