.post {
  line-height: 2rem;
  list-style: none;

  & td {
    text-align: left;
  }

  & time {
    color: var(--lightgray);
    font-size: 0.7rem;
  }

  & .venom {
    background: var(--venom);
    color: var(--darkgray);
  }
}

.post-name {
  height: fit-content;
  width: auto;
  color: var(--venom);
  padding: 0.5rem;
  border-radius: 5px;
  font-family: var(--font-family-title);
  font-size: 16px;
  font-weight: 400;
  background-color: var(--darkgray);
  border: none;
  cursor: pointer;
  /* outline: none; */
  /* box-shadow: 0 0 5px black; */
  transition: all 0.3s ease-in-out;

  &:hover {
    box-shadow: -1px -2px 11px black inset;
    background-color: var(--venom);
    color: var(--darkgray);

    & a {
      color: var(--darkgray);
    }
  }

  &:focus {
    box-shadow: -1px -2px 11px black inset;
  }

  &:active {
    box-shadow: 0px 0px 15px var(--venom);
  }
}

.post-tags {
  float: left;
  text-transform: uppercase;
  color: var(--venom);
  font-style: italic;
  font-size: 0.6rem;
}
