.post {
  list-style: none;

  & td {
    text-align: left;
  }

  & time {
    color: var(--lightgray);
    font-size: 0.7rem;
  }

  & .venom {
    background: var(--venom);
    color: var(--darkgray);
  }
}

.post-tags {
  float: left;
  text-transform: uppercase;
  color: var(--venom);
  font-style: italic;
  font-size: 0.6rem;
  display: flex;
  gap: 0.4rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}
