#curtain {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-background);
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.5s ease;
}

#curtain.active {
  opacity: 1;
} 