#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 0.6rem;
  font-size: 0.7rem;
  color: #0f0;
  font-family: 'NeueBit', serif;
  font-weight: 400;
}

#footer a {
  color: #0f0;
  text-decoration: none;
  font-family: 'OffBitBold', sans-serif;
}

#footer em {
  font-style: normal;
  font-family: 'OffBitDot', sans-serif;
}

#footer-updated {
  font-size: 0.6rem;
  opacity: 0.8;
} 