#footer {
  z-index: 1000;
  grid-row: 3;
  width: 100%;
  position: sticky;
  bottom: 0;
  text-align: center;
  color: #0f0;
  background: #010;
  border-top: 1px solid #0f03;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 3rem;
  padding: .6rem;
  font-family: NeueBit, serif;
  font-size: .7rem;
  font-weight: 400;
  display: flex;
  box-shadow: 
      0 0 0 1px #00ff004d,
      0 4px #00ff0026,
      0 8px #00ff001a,
      inset 0 2px 4px #00ff0026,
      inset 0 -2px 4px #0000004d,
      inset 20px 0 20px -20px #00000080,
      inset -20px 0 20px -20px #00000080,
      inset 0 -20px 20px -20px #00000080;
}

#footer > * {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

#footer a {
  color: #0f0;
  text-decoration: none;
  font-family: 'OffBitBold', sans-serif;
}

#footer em {
  font-style: normal;
  font-family: 'OffBitDot', sans-serif;
}

#footer-updated {
  font-size: 0.6rem;
  opacity: 0.8;
  top: 50%;
  transform: translate(-50%, -50%);
}

#footer-rights {
  top: 50%;
  transform: translate(-50%, -50%);
}

.footer-message {
  font-family: 'OffBitDot', sans-serif;
  font-size: 0.9rem;
  color: var(--color-main);
  text-align: center;
  padding: 0.5rem 1.5rem;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 9999px;
  display: inline-block;
  margin: 0 auto;
  border: 1px solid rgba(0, 255, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.1);
} 