---
layout: layouts/home.njk
---

<link preload rel="stylesheet" href="/css/post-list.css">
<link preload rel="stylesheet" href="/css/search.css">
<h1 class="page-title">ARCHIVE</h1>

{% set postslist = results %}
{% include "templates/postslist.njk" %}
