<!DOCTYPE html>

<html lang="en" class="">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ page.description }}">

    <title>{{ site.title }}</title>

    <link rel="preload" href="/assets/fonts/OffBitTrial-Dot.ttf" 
      as="font" type="font/ttf" crossorigin>

    <link rel="preload" href="/assets/fonts/OffBitTrial-DotBold.ttf" 
      as="font" type="font/ttf" crossorigin>

    <link rel="preload" href="/assets/fonts/DotGothic16.ttf" 
      as="font" type="font/ttf" crossorigin>

    <link inline rel="stylesheet" href="/_bundle.css">

    <link rel="alternate" href="/feed.xml" type="application/atom+xml" 
      title="{{ site.title }}">

    <link rel="alternate" href="/feed.json" type="application/json" 
      title="{{ site.title }}">

    <link rel="icon" type="image/x-icon" href="/assets/images/pizzaslice.webp">
    <style> {{ include "/css/curtain.css" }} </style>
    <style> {{ include "/css/glow.css" }} </style>
  </head>

<!--  .-----.
    /  .----.\
   / /  _  _ \\ 
   | | (🏀|🏀) < 🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥
   | |   /\  ) |
   | | L====J  |
  / /  ''--''   \  
 /  '.v.'v '.v.' \      ꜘ--.--.
/ /v  v  v   v   v\    /\_. \ |
*/  v  v    v  v   \  /     🍕
----–\"\"\-----------------
     / / /
S I D I O U S . P I Z Z A  -->



  <body>
    <div id="curtain"></div>

    {{if url !== "/"}}
    <form action="/">
      <input id="site-title" class="button" type="submit" value="{{ site.title }}" />
    </form>
    {{/if}}

    <main id="main" class="{{ page.bodyClass }}">
      {{ content }}
    </main>

    <footer id="footer">
      <p id="footer-rights">
        <em>®</em> 2025
        <a href="https://github.com/sidiousvic"><em>"sidiousvic"</em></a> All Rights Reserved.
      </p>
      <p hidden id="footer-updated">
        <a href="https://github.com/sidiousvic/sidious.pizza/commits/master/">
          Updated <em>@&nbsp;</em> <span id="last-updated-datetime">2024</span>
        </a>
      </p>
    </footer>

  <script inline src="/_esnext/liftcurtains.js"></script>
  <script inline src="/_esnext/getcolorsfromstorage.js"></script>

  <script inline src="/_esnext/gettypographyfromstorage.js"></script>

  <script defer inline src="/_esnext/keyboardnav.js"></script>

  <script defer inline src="/_esnext/lastupdated.js"></script>

  <script defer inline src="/_esnext/togglefootermessage.js"></script>

  <script inline src="/_esnext/switchselectedconfig.js"></script>

  <script inline src="/_esnext/enableautorandomconfig.js"></script>

  </body>
</html>
