<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or site.title }}</title>
    <meta name="description" content="{{ description or site.description }}">
    <link preload rel="stylesheet" href="/styles.css">
    <link rel="alternate" href="/feed.xml" type="application/atom+xml" title="{{ site.title }}">
    <link rel="alternate" href="/feed.json" type="application/json" title="{{ site.title }}">
    <link rel="icon" type="image/x-icon" href="/@/enemyR.png">
  </head>
  <body>
    <nav id="navbar" class="navbar">
      <a href="/" class="navbar-home">
        {{ site.title }}
      </a>

      <ul class="navbar-links">
      {%- for entry in search.pages("visible=true", "order") %}
        <li>
          <a href="{{ entry.data.url }}"{% if entry.data.url == url %} aria-current="page"{% endif %}>
            {% if entry.data.url == url %} 
            <div class="current-page-indicator-bullet"></div> 
            {% endif %}
            {{ entry.data.title | upper }}
          </a>
        </li>
      {%- endfor %}
      </ul>
    </nav>


<!--  .-----.
    /  .----.\
   / /  _  _ \\ "J U S T D O S H * T."
   | | (🏀|🏀)   🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥
   | |   /\  ) |
   | | L====J  |
  / /  ''--''   \
 / /             \
 */               \
S I D I O U S . P I Z Z A  -->


    <div id="curtain" style="position:fixed;opacity:1;top:0;left:0;width:100vw;height:100%;background-color:#111;z-index:999;display:flex;align-items:center;justify-content:center;pointer-events:none;transition:opacity 0.7s ease-in-out;display:flex;align-items:center;justify-content:center;"></div>

    <main id="main" class="{{ bodyClass }}">
      {{ content | safe }}
    </main>

    <footer id="footer"><p>® 2023 <a href="https://github.com/sidiousvic" style="color: var(--darksteel); font-family: var(--font-family-delight)">"@sidiousvic"</a> All Rights Reserved</p></footer>

{% if page.data.info %} 
  {% include "templates/page-info.njk" %}
{% endif %}

    <script type="module" src="/@/makeMainFillUpScreen.mjs"></script>
    <script type="module" src="/@/liftCurtain.mjs"></script>
  </body>
</html>
