---
layout: layouts/post.njk
bodyClass: body-post
---

<link preload rel="stylesheet" href="/css/haiku.css">

{% set jp = content | jp %}
{% set en = content | en %}

<section lang="jp" class="haiku">
{{ jp | safe }}
</section>

<section lang="en" class="haiku">
{{ en | safe }}
</section>


