---
layout: layouts/base.njk
---

<script type="module" src="/@/programs/hideNavbarLinks.mjs"></script>
<link preload rel="stylesheet" href="/css/haiku.css">

{% set jp = content | jp %}
{% set en = content | en %}

<article class="haiku-post" data-pagefind-body>
  <div class="haiku-header">
    <h1 class="haiku-title">
      {{ title }} 
     {% if beta %}
       <sup class="tag big border beta venomous">BETA</sup>
     {% endif %}
    </h1>
  </div>

  <div class="haiku-body">
    <section lang="jp" class="haiku">
      {{ jp | safe }}
    </section>
    <section lang="en" class="haiku">
      {{ en | safe }}
    </section>
  </div>
  <picture class="no-border">
    <img class="haiku-img" src="{{ gif }}" alt="{{ title }}">
  </picture>
</article>
