---
layout: layouts/base.njk
bodyClass: body-post
---
{% set jp = content | jp %}
{% set en = content | en %}

<article class="post" data-pagefind-body>
  <div class="post-header">
    <h1 class="post-title">
      {{ title | upper }} 
     {% if beta %}
       <sup class="tag big border beta venomous">BETA</sup>
     {% endif %}
    </h1>
    
    {% if date | length %}
    <time class="post-date" datetime="{{ date | date('DATETIME') }}">
      {{ date | date('HUMAN_DATE') }}
    </time>
    {% endif %}
  </div>
  <div class="post-body">
    {{ content | safe }}
  </div>
</article>
